<h1>Sign Up!</h1><br>

<h3>Please fill out the following form!</h3>

<b><%= session[:message] if !session[:message].empty? && !session[:message].nil?%></b>
<br><br>
<form action="/signup" method="post">
  <label>User Name:</label>
  <input type="text" name="username" value="">
  <br><br>
  <label>Email:</label>
  <input type="text" name="email" value="">
  <br><br>
  <label>Password:</label>
  <input type="password" name="password" value="">
  <br><br>
  <input type="submit" value="Sign Up">
</form>

<%session[:message].clear if !session[:message].nil? && !session[:message].empty? %>
