<h1>Sign Up!</h1><br>

<h3>Please fill out the following form!</h3>
<%if !session[:message].nil?%>
<b><%= session[:message] if !session[:message].empty?%></b>
<%end%>
<br><br>
<form action="/signup" method="post">
  <label>User Name:</label>
  <input type="text" name="username" value="">
  <br><br>
  <label>Email:</label>
  <input type="text" name="email" value="">
  <br><br>
  <label>Password:</label>
  <input type="password" name="password" value="">
  <br><br>
  <input type="submit" value="Sign Up">
</form>

<%if !session[:message].nil?%>
<%session[:message].clear if !session[:message].empty?%>
<%end%>
