<h1>Reviews:</h1>
<%counter = 1%>
<%Review.all.each_with_index do |review, index|%>
<%if !review.content.empty?%>
<li><a href="/reviews/<%=review.id%>">Review <%=counter%> <%=review.beer.name%></a></li>
<%counter += 1%>
<%end%>
<%end%>
