<h1>WELCOME TO BEER REVIEW!</h1>

<h3>PLEASE LOOK AT THE FOLLOWING MENU FOR ACTIONS</h3>

<a href="/signup">Sign up!</a><br>
<a href="/login">Log in!</a><br>
<a href="/reviews">Reviews!</a><br>
<a href="/beers">Beers!</a><br>
<a href="/breweries">Breweries!</a><br>
<%if logged_in?%>
<a href="/user/<%=current_user.id%>">User Homepage!</a><br>
<a href="/logout">Log Out!</a><br>
<%end%>
